<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Project 2 US Elections Analysis</title>
</head>

<body>

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} US Election 2020 Analysis {% endblock %}</h1>

    {% for post in posts %}
        <a href="#">
            <h2>{{ post['county'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['long'] }}</span>
        <hr>
    {% endfor %}

{% endblock %}


</body>
</html>